* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.category {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF6F5;
}

.categoryImage {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

/* .categoryForm{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
border-radius: 5px;

}

.categoryForm h1{
    margin: 50px;
    font-size: 38px;
    color: #e1ad01;
}



.categoryForm .categorySection{
   
    width: 400px;
    height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.categoryForm .categorySection select {
    padding: 10px 60px;
    border-radius: 8px 0px 0px 8px;
    
    
}

.categoryForm .categorySection button{
    padding: 10px ;
    border-radius: 0px 8px 8px 0px;
    border: none;
    background-color: #e1ad01;
    color: white;
    font-size: 15px;
} */


.categoryForm {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.categoryForm h1 {
    color: #e1ad01;
    font-size: 70px;
}

.categoryForm p {
    font-size: 18px;
    margin-bottom: 25px;
}


.categoryForm .categorySection select {
    padding: 10px 60px;
    /* border-radius: 8px 3px 3px 8px; */
    border-radius: 25px 0px 0px 25px;
    border: none;
    font-size: 18px;
   

    background: #F7F8F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    


}


.categoryForm .categorySection button {
    padding: 10px 15px ;
    border-radius: 0px 25px 25px 0px;
    border: none;
    background-color: #e1ad01;
    color: white;
    font-size: 18px;
}

.categorySection form {
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgb(222, 222, 222);
}

.categoryImage img {
    width: 60%;
    height: 60%;
}