*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
header{
    width: 100%;
    padding: 5px 30px;
}
header , header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    list-style: none;
}
header h1 a{
    text-decoration: none;
    font-size: 35px;
}
header ul li {
    margin: 0px 10px;
}
header ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
