*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    /* padding: 8px 30px; */
    background-color: #2F3C7E;
    
}
header , header ul {
    display: flex;
    align-items: center;
 justify-content: space-between;
 padding: 12px 15px;
 
    list-style: none;
    /* color: white; */
}
header h1 a{
    text-decoration: none;
    font-size: 35px;
    color:  #FBEAEB;
}
header ul li {
    margin: 0px 10px;
}
header ul li a{
    text-decoration: none;
    font-size: 21px;
    color: #FBEAEB;
    font-weight: 500;
}

.openPage{
    padding: 8px 10px;
    border-radius: 50%;
    color: white;
    background-color: rgb(121, 115, 107);
}

 