*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  
}
.home{
  width: 100%;
  height: 85vh;
  display: flex;
  /* justify-self: center; */
  justify-content: center;
  align-items: center;
  /* background-color: #FCF6F5; */
  
}

.left{
    max-width: 40%;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
}



.left h1{
    color: #2F3C7E;
    font-size: 55px;
    /* padding: 20px; */
    width: 90%;
    margin-bottom: 20px;
  
}

.left  p{

    font-size: 22px;
    width: 90%;
    display: flex;
    align-items: start;
  
    /* background-color: bisque; */
}

.left a {
  background-color: #2F3C7E;
  text-decoration: none;
  color: aliceblue;
  width: 180px;
  height: 50px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

.right{
    width: 55%;
  
    height: 100%;

}

 .right img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.allList{
    width:100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
/* margin-top: 30px; */


}

.allList p {
  font-size: 24px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    
    /* shuxcjxbcjxycd */
    
  }


  .image ,.image , .boostrap , .react  , .redux  , .express , .node , .mongo{
    margin: 20px;

  }
  
  .images {
    width: 100px; 
   
    height: 100px;
    margin-bottom: 10px; 
  }


  .image{
    width:100px ;
    height: 100px;
  }

  .boostrap{
    width:130px ;
    height: 100px;
  }


  .react{
    width:150px ;
    height: 100px;
border-radius: 5px;
  }

  .redux{
    width:80px ;
    height: 80px;
  }

  .node{
    width:110px ;
    height: 100px;
  }

  .express{
    width: 200px;
    height: 60px;
  }

  .mongo{
    width:160px ;
    height: 150px;
  }

