.home {
    width: 100%;
}

.bannerAbout {
    height: 100vh;
    background: url(../images/video.mp4) no-repeat scroll center / cover;
}
.videoTag{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed; /* optional depending on what you want to do in your app */
    
    /* shuxcjxbcjxycd */
    
    }